body {
  background-color: #FFCC00;
  color: #000000;
  font-family: Georgia, Garamond, sans-serif;
}

h1, h2, thead, th.caption {
  background-color: #F0F0F0;
  color: #A4A400;
  font-family: "Century Gothic", Futura, Verdana, sans-serif;
  letter-spacing: 4px;
}

table {
  background-color: #CC9933;
  color: #FFFFFF;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid #FFFFFF;
  padding: 5px;
}

h1, h2, th {
  text-align: center;
}

th {
  background-color: #003366;
}

li.menu {
  display: inline;
  background-color: #F0F0F0;
  padding: 5px 20px;
  border-right: 15px solid #003366;
}

li a {
  text-decoration: none;
}

ul {
  /*list-style-image: url('leaficon.png');*/
}

#ingredients {
  list-style: none;
  padding-left: 0;
}

#ingredients li {
  position: relative;
  padding-left: 55px;
}

#ingredients li::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url('./leaficon.png');
  background-size: cover;
  background-position: center;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
  font-size: 19px;
}
